<!-- Header -->
			<div id="header-wrapper">
				<div id="header">

					<!-- Logo -->
					<b>
						<h1 style="font-family: 'Great Vibes', cursive;color: #d4009f;">
							<a href="/index.html">Sylvia Studio</a>
						</h1>
					</b>

					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li class="current"><a href="/index.html">首頁</a></li>
								<li><a href="/blog">保養快報</a></li>
								<!-- 下拉選單 -->
								<li>
									<a href="#">服務項目</a>
									<ul>
										<li><a href="#">肌膚保養系列</a></li>
										<li><a href="#">保養品手作課</a></li>
										<li><a href="#">產品開發(OEM/ODM)</a></li>
									</ul>
								</li>
								<!-- 個人資料-左邊 -->
								<!-- <li><a href="{{ site.baseurl }}left-sidebar.html">Left Sidebar</a></li> -->
								<!-- 個人資料-右邊 -->
								<!-- <li><a href="{{ site.baseurl }}right-sidebar.html">關於</a></li> -->
								<!-- 個人資料-無邊 -->
								<li><a href="{{ site.baseurl }}no-sidebar.html">關於我們</a></li>
							</ul>
						</nav>

					<!-- Banner -->
						<section id="banner">
							<header>
								<h2>你的肌膚讓我們來守護</h2>
								<p style="font-family: 'Kaushan Script', cursive;">Take care your skin.</p>
							</header>
						</section>

					<!-- Intro -->
						<section id="intro" class="container">
							<div class="row">
								<div class="4u">
									<section class="first">
										<i class="icon featured fa fa-graduation-cap"></i>
										<header>
											<h2>保養品手作課</h2>
										</header>
										<p>課程將從配方設計的角度，來教導學員們自己親手 DIY 製作些保養品，從教學和 DIY 製作中愉快學習此課程。</p>
									</section>
								</div>
								<div class="4u">
									<section class="middle">
										<i class="icon featured alt2 fa-star"></i>
										<header>
											<h2>肌膚保養系列</h2>
										</header>
										<p>SPA 專業產品</p>
										<p>醫美功能性產品</p>
										<p>開架肌膚保養系列產品</p>
									</section>
								</div>
								<div class="4u">
									<section class="last">
										<i class="icon featured alt fa-handshake-o"></i>
										<header>
											<h2>產品開發(OEM/ODM)</h2>
										</header>
										<p>專案洽談、提案打樣</p>
										<p>包材提案、產品檢驗</p>
										<p>生產包裝、交貨驗收</p>
									</section>
								</div>
							</div>
							<!-- <footer>
								<ul class="actions">
									<li><a href="#" class="button big">Get Started</a></li>
									<li><a href="#" class="button alt big">Learn More</a></li>
								</ul>
							</footer> -->
						</section>

				</div>
			</div>